<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="{{ site.author }}">


    <title>{{ site.name }}</title>

    <!-- Javascript toggling -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <!-- Bootstrap core CSS -->
    <!--<link href="/css/bootstrap.min.css" rel="stylesheet">-->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/jumbotron-narrow.css" rel="stylesheet">

    <!-- Use crimson text font with extended greek and latin -->
    <link href='http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic&subset=latin,latin-ext,greek-ext,greek' rel='stylesheet' type='text/css'>

    <!-- Add room for navbar and change color -->
    <!--
    <style>
        body {
            font-family: 'Libre Baskerville', serif;
            text-align: justify;
            background-color: #f8f8f8;
            margin-top: 60px;
            margin-bottom: 50px;
        } section {
            padding-top: 60px;
            margin-top: -60px;
        }
    </style>
    -->
  </head>

  <script>
    $function() {
      $('#nav li a').click(function() {
        $('#nav li').removeClass();
        $($(this).attr('href')).addClass('active');
      });
    });
  </script>


  <body>
  <div class="container">
    <div class="header clearfix">
      <nav>
        <ul class="nav nav-pills pull-right">
          <li role="presentation" class="active"><a href="/">Home</a></li>
          <li role="presentation"><a href="/gallery.html">Gallery</a></li>
          <li role="presentation"><a href="/about.html">About</a></li>
        </ul>
      </nav>
      <h3 class="text-muted">{{ site.name }}</h3>
    </div>

